.container {
    width: 70%;
}
.empty_container {
    grid-area: empty_container;
    
}
.grid_container {
    display: -ms-inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "usergroup_container usergroup_container"
      "empty_container empty_container"
      "recommendation_container recommendation_container";
  }
  
  .usergroup_container { 
      grid-area: usergroup_container;
      border: 1px solid black;
     }
  
  .recommendation_container { 
      grid-area: recommendation_container; 
      border: 1px solid black;
    }
  