.mainRow {
  margin: 0;
}

.sideLeft {
  /* padding-left: 0; */
  padding-right: 5%;
}

.center {
  margin-top: 26px;
  padding: 0 5%;
}

.sideRight {
  /* padding-right: 0; */
  padding-left: 5%;
}

.sideWrapee {
  top: 80px;
}