.navbar {
  position: relative;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -100px !important; /* 50% of your logo width */
  display: block;
}

.menus {
  position: absolute;
  right: 0;
  margin-right: 0.8em;
}

.logo {
  width: 200px;
}