.col-centered {
  float: none;
  margin: 0 auto;
}
.col-md-3,
.col-md-4 {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.sample {
  text-align: center;
}
.container {
  width: 100%;
  text-align: center;
}
.wrapper {
  margin: 0 auto;
}
